{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Dreams and Nightmates</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body>

		<div class="border-b-2 border-black shadow-lg h-16 ">
			<a href="#">
				<img class="m-auto pt-2" src="{% static 'img/brand.svg' %}" alt="">
			</a>
		</div>

		{% block content %}
		{% endblock content %}

	</body>

</html>
