{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Dreams and Nightmates</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body>

		<div class="border-b-2 border-black shadow-lg h-14 relative">
			<div class="object-none object-center p-1 absolute inset-x-1 ">
			<svg class="m-auto w-80"
			xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:cc="http://creativecommons.org/ns#"
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:svg="http://www.w3.org/2000/svg"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			width="410.953"
			height="50"
			viewBox="0 0 108.73132 13.229167"
			version="1.1"
			id="svg8"
			sodipodi:docname="dn.svg"
			inkscape:version="1.0.1 (1.0.1+r75)">
		   <defs
			  id="defs2" />
		   <g
			  inkscape:label="Layer 1"
			  inkscape:groupmode="layer"
			  id="layer1">
			 <rect
				style="fill:#000000;stroke:none;stroke-width:0.587283;stroke-opacity:1"
				id="rect861"
				width="60.45232"
				height="13.229167"
				x="50.083191"
				y="2.2167968e-07" />
			 <text
				xml:space="preserve"
				style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
				x="0.43920001"
				y="9.2604084"
				id="text835"><tspan
				  sodipodi:role="line"
				  id="tspan833"
				  x="0.43920001"
				  y="9.2604084"
				  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.5833px;font-family:'Abril Fatface';-inkscape-font-specification:'Abril Fatface, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583">Dreams &amp; <tspan
			style="fill:#ffffff"
			id="tspan837">Nightmares</tspan></tspan></text>
		   </g>
		</svg>
		</div>
		</div>

		{% block content %}
		{% endblock content %}

	</body>

</html>
